{% extends 'base_template/base_template.html' %}
{% load i18n %}
{% load poll_extras %}
{% load static %}
{% block content %}
    {% if user_data %}
        <div class="row">
            <div class="col text-center">
                {% include 'utls_template/avatar.html' with user_data=user_data %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <h5 class="display-6">{% trans "tid_page_view_profile_username" %}:</h5>
            </div>
            <div class="col">{{ user_data.username }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <h5 class="display-6">{% trans "tid_page_view_profile_full_name" %}:</h5>
            </div>
            <div class="col">{{ user_data.first_name|capfirst }} {{ user_data.last_name|capfirst }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <h5 class="display-6">{% trans "tid_form_labels_reg_birthday" %}:</h5>
            </div>
            <div class="col">{{ user_data.profile.birthday|date:"d.m.Y" }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <h5 class="display-6">{% trans "tid_form_labels_reg_city" %}:</h5>
            </div>
            <div class="col">{{ user_data.profile.city }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-3">
                <h5 class="display-6">{% trans "tid_form_labels_reg_phone" %}:</h5>
            </div>
            <div class="col">{{ user_data.profile.phone }}</div>
        </div>
    {% else %}
        {% if request.user.is_authenticated %}
            {% if request.user.groups.all|length %}

                {% if request.user|has_group:"Верифицированные пользователи" %}
                    <div class="alert alert-success" role="alert">
                        <b>{% trans "tid_page_groups" %}:</b> {% trans "tid_page_groups_verif" %}
                    </div>
                    {% if request.user|has_group:"Модераторы" %}
                        <div class="alert alert-primary" role="alert">
                            <b>{% trans "tid_page_groups" %}:</b> {% trans "tid_page_groups_moder" %}
                        </div>
                    {% endif %}
                {% else %}
                    {% trans "tid_messages_profile_non_verif" as message_profile_no_verif %}
                    {% include 'utls_template/alert.html' with bt_theme="warning" bt_text=message_profile_no_verif %}
                {% endif %}
            {% else %}
                {% trans "tid_messages_profile_non_group" as message_profile_non_group %}
                {% include 'utls_template/alert.html' with bt_theme="info" bt_text=message_profile_non_group %}
            {% endif %}

            {% if msg %}
                {% include 'utls_template/alert.html' with bt_theme=msg_theme bt_text=msg %}
            {% endif %}

            {% url 'user_profile'   as action_save_profile %}
            <form action="{{ action_save_profile }}" method="post" enctype="multipart/form-data">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <div class="form-group mb-4">
                    <h4 class="display-6">{% trans "tid_form_labels_reg_first_name" %}:</h4>
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">{% trans "tid_form_labels_reg_last_name" %}:</h4>
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">{% trans "tid_form_labels_reg_birthday" %}:</h4>
                    {{ form.birthday.errors }}
                    {{ form.birthday }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">{% trans "tid_form_labels_reg_city" %}:</h4>
                    {{ form.city.errors }}
                    {{ form.city }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">{% trans "tid_form_labels_reg_phone" %}:</h4>
                    {{ form.phone.errors }}
                    {{ form.phone }}
                </div>

                <div class="form-group mb-4">
                    <div class="row">
                        <div class="col-auto text-center">
                            {% if request.user.profile %}
                                {% if request.user.profile.avatar_file %}
                                    <img class="user-avatar" src="{% get_media_prefix %}{{ request.user.profile.avatar_file }}" width="100" alt="avatar of {{ request.user.username }}">
                                {% else %}
                                    <img src="{% static 'images/system/no_avatar.png' %}" width="100" alt="{% trans "tid_profile_no_avatar" %}">
                                {% endif %}
                            {% else %}
                                <img src="{% static 'images/system/no_avatar.png' %}" width="100" alt="{% trans "tid_profile_no_avatar" %}">
                            {% endif %}
                        </div>
                        <div class="col">
                            <h4 class="display-6">{% trans "tid_form_profile_avatar" %}:</h4>
                            {{ form.avatar_file.errors }}
                            <div class="custom-file">
                                {{ form.avatar_file }}
                                <label class="custom-file-label" for="id_avatar_file">{% trans "tid_profile_avatar_choose_file" %}</label>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group mb-4">
                    <input class="btn btn-lg btn-primary col" type="submit" name="sub" value="Обновить данные">
                </div>

            </form>
        {% else %}
            {% include 'utls_template/alert.html' with bt_theme="warning" bt_text="У Вас нет доступа к данному разделу!" %}
        {% endif %}
    {% endif %}


{% endblock %}