{% extends 'base_template/base_template.html' %}
{% load i18n %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% url 'page_blog_import'   as action_blog_import %}
        {% if msg %}
            {% include 'utls_template/alert.html' with bt_theme=msg_theme bt_text=msg %}
        {% endif %}
        <form action="{{ action_blog_import }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group mb-4">
                <h4 class="display-6">{% trans "tid_blog_import" %}:</h4>
                {{ form.csv_files.errors }}
                <div class="custom-file">
                    {{ form.csv_files }}
                    <label class="custom-file-label" for="id_csv_files">{% trans "tid_blog_import" %}</label>
                </div>
            </div>

            <div class="form-group mb-4">
                <input type="submit" class="btn btn-lg btn-primary col"  name="sub" value="{% trans "tid_buttons_blog_import" %}">
            </div>
        </form>
    {% else %}
        {% trans "tid_messages_blog_import_auth" as message_blog_import_auth %}
        {% include 'utls_template/alert.html' with bt_theme="warning" bt_text=message_blog_import_auth %}
    {% endif %}

{% endblock %}