{% extends 'base_template/base_template.html' %}
{% load poll_extras %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if request.user|has_group:"Верифицированные пользователи" or request.user|has_group:"Модераторы" %}
            {% url 'page_news_add'   as action_news_add %}
            {% if msg %}
                {% include 'utls_template/alert.html' with bt_theme="warning" bt_text=msg %}
            {% endif %}
            <form action="{{ action_news_add }}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group mb-4">
                    <h4 class="display-6">Заголовок:</h4>
                    {{ form.header.errors }}
                    {{ form.header }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">Содержимое:</h4>
                    {{ form.content.errors }}
                    {{ form.content }}
                </div>

                <div class="form-group mb-4">
                    <h4 class="display-6">Тег:</h4>
                    {{ form.tag.errors }}
                    {{ form.tag }}
                </div>

                <div class="form-group mb-4">
                    <input class="btn btn-lg btn-primary col" type="submit" name="sub" value="Создать новость">
                </div>
            </form>
        {% else %}
            {% include 'utls_template/alert.html' with bt_theme="warning" bt_text="У вас нет прав для добавления новостей" %}
        {% endif %}
    {% else %}
        {% include 'utls_template/alert.html' with bt_theme="warning" bt_text="Вы не авторизованы" %}
    {% endif %}
{% endblock %}