{% extends 'base_template/base_template.html' %}
{% load poll_extras %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if request.user|has_group:"Верифицированные пользователи" or request.user|has_group:"Модераторы" %}
            {% include 'auth_template/buttons/news_buttons.html' %}
        {% else %}
            {% include 'utls_template/alert.html' with bt_theme="danger" bt_text="У вас нет прав на добавление новостей. Ожидайте верификацию профиля..." %}
        {% endif %}
    {% endif %}
    <hr>
    {% if news_list %}
        {% for news_item in news_list %}
            {% include 'pages/news/news_item.html' %}
        {% endfor %}
    {% else %}
        {% include 'utls_template/alert.html' with bt_theme="warning" bt_text="Пока еще нет новостей" %}
    {% endif %}
{% endblock %}